/.vscode 
**/.dockerignore 

/index.md
/micro-service_templates
/authentication
/client_stiching

*.sh

**/__pycache__/**

*.json

# Flask 
instance/

# Environments
*.env
*.venv
env/

# Database
db.sqlite3
*.db
